.auction-product {
  .item {
    min-height: 2.8rem;
  }
  ion-card-content {
    padding-bottom: 0;
    .content {
      text-overflow: ellipsis;
      overflow : hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 8;
      -webkit-box-orient: vertical;
      min-height: 2.5em;
      &.detail {
        -webkit-line-clamp: 99999;
      }
    }
  }
  .opt1,
  .opt2 {
    [item-left],
    [item-right] {
      margin: 1px 2px;
    }
  }
  .opt3 {
    ion-row,
    ion-col {
      padding: 0 2px;
    }
  }
  .opt3 ion-label,
  .opt4 ion-label {
    margin: 0;
  }
  .opt4 {
    //max-height: 1.5rem;
    ion-label {
      margin-bottom: 5px;
    }
    ion-row, ion-col {
      padding: 0;
      margin: 0;
    }
    ion-row.r1 ion-col {
      border-bottom: 1px solid #F5F5F5;
    }
    button {
      line-height: 1.2em;
      margin: 2px 0;
    }
  }
  .opt5 {
    margin-top: 0;
    background-color: #F5F5F5;
    ion-item, ion-list-header {
      background-color: inherit;
    }
    ion-list-header {
      border-bottom: none;
    }
    ion-label {
      margin-top: 5px;
      margin-bottom: 5px;
      h2 {
        font-size: 1.4rem;
      }
      h3 {
        line-height: 1.6em;
        font-weight: bold;
      }
    }
  }
}
