.auction-orders {
  .header {
    min-height: inherit;
  }
  .content {
    ion-label {
      margin-top: 0;
      margin-bottom: 0;
      h2 {
        margin-bottom: 3px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
  .bg-center-img {
    height: 64px;
  }
}
